.woocommerce {

	&-cart-form {
		background: $gray;
		border-radius: 3px;

		&__contents {
			padding: 1rem;

			.qty {
				background: $gray;
			}
		}

		&__cart-item {
			
			.product-name {

				a {
					color: $color-font-body;
					transition: all ease .3s;

					&:hover {
						color: $blue;
					}
				}
			}
		}
	}

	.actions {
		padding-top: 2rem !important;
	}

	.coupon {

		@include below (sm) {
			padding-bottom: 1rem !important;
		}

		input {
			padding: 7px 7px 7px !important;
			border: 2px solid $blue !important;
    		border-radius: 3px;
    		background: $gray;

    		@include above (sm) {
    			width: 150px !important;
    		}
    	}
	}

	&-shipping-calculator {

		a {
			color: $blue;
		}
	}

	.shop_table {
		background: $gray;
	}
}