.woocommerce {

	&-info {
		border-top-color: $blue;
		background: $gray !important;
		border-radius: 3px;

		&:before, a {
			color: $blue;
		}
	}

	&-billing-fields {
		background: $gray;
		padding: 1rem;
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,.1);

		&__field-wrapper {

			input {
				padding: .4rem;
				border: 3px solid #F0F0F0;
			}
		}
	}

	&-shipping-fields {

		input {
			padding: .4rem;
			border: 3px solid #F0F0F0;
		}
	}

	&-input-wrapper {

		.input-text {
			border: 3px solid #F0F0F0;	
			padding: .4rem;
		}
	}

	&-checkout {

		.col-2 {
			background: $gray; 
			padding: 1rem;
			border: 1px solid rgba(0,0,0,.1);
			border-radius: 3px;

			@include below (sm) {
				margin-top: 1.5rem;
			}
		}

		&-payment {
			background: $gray !important;
		}
	}

	&-form {

		&__label {
			display: flex;

			span {
				margin-left: 1rem;
				color: $color-font-body;
			}
		}
	}
}