.woocommerce {

	.button {
		background-color: $blue !important;
		color: $white !important;
		font-weight: 400 !important;
		text-transform: uppercase;
		box-shadow: 0px 8px 10px rgba($blue, .25) !important;
	}

	.onsale {
		padding: 0 !important;
		background-color: $yellow !important;
	}

	&-message {
		background: $gray;
	}

	&-loop-product__title {
		margin-top: 1.5rem !important;
	}

	&-loop-product__title {
		color: $color-font-body;
	}
}

