.products {
	margin: 0 -1rem;

	@include above (sm) {
		display: flex;
		flex-wrap: wrap;
		flex: 1;
	}

	&__header {
		margin-top: 0;

		@include below (sm) {
			margin-bottom: 3rem;
		}
	}

	&__row {

		@include below (lg) {
			margin-right: 0;
			margin-left: 0;
		}
	}

	&__item {
		display: block;
		padding-left: 1rem !important;
		padding-right: 1rem !important;

		&:hover {

			img {
				transform: scale(1.1);
			}
		}

		.amount {
			font-weight: 500;
			font-size: 16px;
		}

		.button {
			margin-right: auto !important;
		}

		img {
			width: auto !important;
			transition: all ease .3s;
		}

		@media (max-width: 600px) {
			width: 100% !important;
		}

		@media (min-width: 600px) and (max-width: 768px) {
			width: 50% !important;
		}

		@include above (sm) {
			margin: 2rem 0rem !important;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		@include between (sm, md) {
			width: 49.9% !important;

		}

		@include above (md) {
			width: 33.2% !important; 
		}

		&--slider {
			width: 100% !important;
		}
	}

	&__thumbnail:not(.woocommerce-cart) {
		display: flex;
		justify-content: center;
		position: relative;
		overflow: hidden;
		min-height: 300px;

		img {
			margin: auto !important;
		}

		&:hover {

		}
	}

	&__title {
		color: $color-font-body;
	}

	&__btn {
		margin-top: 1rem;
		
		a {
			@extend .btn, .btn--blue;
		}
	}

	&__price {
		font-weight: 500;
	}
}