.woocommerce {

	//product gallery
	&-product-gallery {

		&__image {

			&:not(:first-child) {
				width: calc(25% - 1rem) !important;
				margin: .5rem;
				margin-top: 1rem;
			}
		}

		&__video {
			overflow: hidden;
			position: relative;
			width: calc(25% - 1rem) !important;
    		margin: .5rem;
    		margin-top: 1rem;
    		background: $gray;
		}

		&--thumbs {
			margin-left: -.5rem;
			margin-right: -.5rem;
			display: flex;
			flex-wrap: wrap;

			.woocommerce-product-gallery__image {
				width: calc(25% - 1rem) !important;
				margin: .5rem;
				margin-top: 1rem;
				display: inline-block;
			}
		}
	}

	//summary
	&-Price-amount {
		color: $blue;
		font-weight: 500;
	}

	.summary > .cart {
		display: flex;
	}

	.variations {

		&_form {
			flex-direction: column;
		}

		tr {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;
		}

		select {
			border: 3px solid #F0F0F0;
			background: $white;
			padding: .3rem;
			-webkit-appearance: none;
		}

		.radio {

			select, i {
				display: none !important;
			}
		}

		.dropdown {
			display: inline-block;
			position: relative;

			i {
				position: relative;
    			left: -2.5rem;
    			pointer-events: none;
			}

			.variations-radios {
				display: none;
			}
		}

		&-radios {
			display: flex;
			flex-wrap: wrap;

			&-wrap {
				position: relative;
				margin-right: .5rem;
			}

			input {
				-webkit-appearance: none;
				padding: 1.4rem;
				border-radius: 50%;
				background: $gray;
				transition: all ease .3s;
				outline: none;

				&:checked {
					background: $blue;
					box-shadow: 0px 8px 10px rgba($blue, .25);
				}

				&:checked + label {
					color: $white;
				}
			}

			label {
				pointer-events: none;    
				position: absolute;
    			left: 0;
			    top: .7rem;
			    font-size: 13px;
			    width: 100%;
			    text-align: center;
			}

			&--archive {
				padding: 1rem 0rem;
			}
		}

		&-colour {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			margin-right: .5rem;
			border: .1rem solid darken($gray, 5%);

			&:last-child {
				margin-right: 0;
			}
		}

		.reset_variations {
			display: none !important;
		}
	}

	.single_add_to_cart_button {
		background: $blue !important;
		border-radius: 3px !important;
		box-shadow: 0px 8px 10px rgba($blue, .25) !important;
		font-weight: 500 !important;
		text-transform: uppercase;
		padding: .8rem 1.5rem!important;
	}

	&-variation-price {
		margin-bottom: 1rem;
	}

	&-variation-add-to-cart {
		display: flex;
	}

	.qty {
		border: 2px solid $blue;
		border-radius: 3px;
		height: 100%;
		margin-right: .5rem;
	}
	
	//reviews
	&-Reviews {
		display: inline-block;
	    width: 100%;
	    padding-top: 3rem;
	    

	    &-title {
	    	margin-top: 0;

	    	span {
	    		color: $color-font-body;	
	    	}
	    }
	}

	.star-rating {
		color: $yellow;

		&:before {
			color: $yellow;
		}

		span {
			line-height: 1;
		}
	}

	.stars {
		a {
			color: $yellow;
		}
	}

	.commentlist {
		padding-left: 0;
	}

	.review {
		background: $gray !important;
		border-radius: 3px;
	}

	&-review-link {
		color: $color-font-body;
		transition: all ease .3s;

		&:hover {
			color: $blue;
		}
	}

	.comment_container {
		padding-left: 1rem;
	}

	.avatar {
		top: 50%;
    	transform: translateY(50%);
    	width: 48px !important;
    	left: 1rem !important;
    	border: none !important;
    	border-radius: 50%;
	}

	.comment-text {
		background: $gray;
		border: none !important;
	}

	.comment-reply-title, .comment-notes {
		display: none;
	}

	//comment form
	.comment-form {
		display: flex;
	    flex-direction: column;

	    &-flex {
	    	order: 2;
	    }

	    &-author, &-email {
	    	
	    	@include above (sm) {
	    		display: inline-block;
	    		width: 50%;
	    	}

	    	label {
	    		display: none;
	    	}
	    }

	    &-author, &-email, 
	    &-comment {

	    	input, textarea {
	    		padding: 8px 5px;
	    		border: 3px solid #F0F0F0;
	    		width: 100%;
	    		outline: none;
	    	}
	    }

	    &-author {
	    	@include above (sm) {
	    		padding-right: 1rem;
	    	}
	    }

	    &-comment {
	    	order: 1;

	    	 label {
	    		display: none;
	    	}
	    }

	    &-cookies-consent {
			order: 3;
			display: none;
	    }
	}

	.form-submit {
		order: 4;

		input {
			background: $blue !important;
			color: $white !important;
			font-weight: 400 !important;
			text-transform: uppercase;
			padding: .8rem 2.5rem !important;
			width: 100%;
			margin-top: .5rem !important;
		}
	}

	//related products
	.related {
		padding-top: 3rem;

		@include above (sm) {
			padding-top: 6rem;
		}

		h2 {
			margin-top: 0;
		}
	}

	//up-sells
	.up-sells {

		h2 {
			
			&:first-child {
				width: 100%;
				text-align: center;
			}
		}
	}
}


