.archive {

	&__header {
		margin-bottom: 2rem;
		margin-top: 0;

		@include above (sm) {
			margin-bottom: 1rem;
		}
	}

	&__item {
		flex-direction: column;

		@include below (sm) {
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include above (sm) {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

		&:hover {

			.archive__wrap {

				img {
					transform: scale(1.1);
				}
			}
		}
	}

	&__wrap {
		overflow: hidden;

		img {
			transition: all ease .3s;
		}
	}

	&__title {
		margin-top: 2rem;
		line-height: 1.4;
	}

	&__excerpt {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: space-between;
	}
}