.contact {

	&__info {

		a {
			color: $color-font-body;
			transition: all ease .3s;

			&:hover {
				color: $blue;
			}
		}
	}

	&__title {
		margin-top: 9px;

		&--employees {
			margin-top: 0;
		}

		@include above (sm) {
			font-size: 35px;
		}
	}

	&__employee {
		margin-bottom: 2rem;

		@media screen and (min-width: 500px) and (max-width: 768px) {
			width: 50%;
		}
	}

	&__name {
		margin-top: 2rem;
	}

	&__form {

		&--mt {
			@include above (sm) {
				margin-top: 6rem;
			}
		}
	}
}