.footer {
	padding-top: 2rem;
	padding-bottom: 2rem;

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__item {
		
		p:last-child {
			@include above (sm) {
				margin-bottom: 0;
			}
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $blue;
			}
		}

		i {
			font-size: 24px;
			color: $blue;
			background: $white;
			border-radius: 50%;
			width: 48px;
			height: 48px;
			text-align: center;
			transition: all ease .3s;
			margin-right: .5rem;

			&:hover {
				background: $blue;
				color: $white;
			}

			&:before {
				line-height: 2;
			}
		}
	}

	&__title {
		font-weight: 600;
		margin-bottom: 1.5rem;

		@include below (sm) {

			&:first-child {
				margin-top: 0;
			}
		}

		@include above (sm) {
			margin-top: 0;
		}
	}

	&__stuff {
		padding-top: 1rem;
		margin-top: 1rem;
		border-top: lighten($gray-dark, 10%) 1px solid;

		@include below (sm) {
			display: block;
		}
	}

	&__copyright {

		@include below (sm) {
			margin-bottom: 1rem;
			display: block;
		}
	}
}
