.header {
	position: absolute;
	width: 100%;
	z-index: 10;
	background: rgba($white, .9);
	box-shadow: 0px 4px 4px rgba($color-font-body, 0.25); 
	padding-top: 1.5rem;
	padding-bottom: 1.6rem;

	@include above(sm) {
		padding-top: 0;
		padding-bottom: 0;
	}

	&__logo {
		display: block;
		float: left;
		position: relative; 

		@include above (sm) {
			top: 2px;
		}

		img {
			width: 200px;
			height: 29px;

			@include between (sm, md) {
				width: 250px;
				height: 36px;
			}

			@include above (md) {
				width: 300px;
				height: 43px;
			}
		}
	}
}