.instagram {

	&__row {
		margin-left: -8px;
		margin-right: -8px;
	}


}

.lightwidget {

	&__tile {
		box-shadow: 0 0 10px 2px rgba($black, 0.1) !important; 
		box-shadow: 0px 4px 4px rgba($color-font-body, 0.25); 
	}
}