/********************LAYOUTS********************/

/* Base Styles */
.gray-dark--bg {
  color: $white;
}

/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
    margin-top: 0;
  }

  &__col {
    h1, h2,
    h3, h4,
    h5, h6 {
      margin-top: 1rem;
    }

    a {
      color: $blue;
      transition: all ease .3s;
    }
	
	  @include above (sm) {
  		&.first {
  			p:last-child {
			   margin-bottom: 0;
			 }
  		}
  	}
	
  	&.last {
  		p:last-child {
  			margin-bottom: 0;
  		}
  	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 4rem;
  }
  
  &--bottom {
    padding-bottom: 4rem;
  }

  &--both {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 5rem;
    }

    &--bottom {
      padding-bottom: 5rem;
    }

    &--both {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  @include above (lg) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}