.nav {

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 10px;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;

		@include above (sm) {
			float: left;
			padding: 2.5rem .5rem;
			display: inline-block;
			position: relative;
			top: 2px;
		}

		&.is-active > a {
			color: $blue;
			font-weight: 700;
		}

		&--cart-mobile {

			@include above (sm) {
				display: none;
			}
		}

		&.is-dropdown {

			@include above (sm) {

				&:hover {

					.nav__dropdown {
						display: block !important;
					}
				}
			}
		}
	}
	
	
	&__link {
		font-family: $custom-font-headings;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: .1rem;
		text-transform: uppercase;
		color: $color-font-body;
		transition: all ease .3s; 

		&:hover {
			color: $blue;
		}

		@include between (sm, md) {
			font-size: 13px; 
		}

		.fas {
			color: $blue;
		}

		&--cart {

			@include below (sm) {
				display: none;
			}

			span {
				background: $blue;
				width: 22px;
				height: 22px;
				display: inline-block;
				text-align: center;
				font-size: 12px;
				border-radius: 50%;
				color: $white;
				left: -1rem;
    			top: -.5rem;
    			position: relative;
    			z-index: -1;
			}
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		top: 100%;
		background: rgba($white, .9);
		margin-top: 1rem;

		@include above (sm) {
			position: absolute;
			margin-top: 0;
		}

		&.is-visible {
			display: block;
		}

		.nav__item {
			padding: 0;
			display: block;
			float: none;
		}

		a {
			padding: .2rem 1rem;
			white-space: nowrap;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		display: flex;

		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 74px;
			right: 0;
			height: calc(100% - 74px);
			width: 100%;
			transform: translateX(-100%);
			transition: all .6s ease;
			background: $white;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			display: block;


			&.is-open {
				transform: translateX(0);
			}

	
			@at-root {
				body.is-fixed {

					@include below (sm) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $gray-dark;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $gray-dark;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $gray-dark;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.44rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}