.page {

	&__hero {
		 padding-top: calc(3rem + 77px);
		 padding-bottom: 3rem;
		 background: no-repeat center center;
		 background-size: cover;

		 @include above (sm) {
		 	padding-top: calc(6rem + 105px);
		 	padding-bottom: 6rem;
		 }
	}
	
	&__title {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.4;
	}  
}
