.section-img {
	background: no-repeat center center;
	background-size: cover;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba($blue-dark, .2);
	}

	&__title, &__item {
		color: $white;
		position: relative;
		z-index: 10;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	&__item {

		p {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}