.shipping {

	&__item {
		text-align: center;

		@include below (sm) {
			width: 100%;
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		svg {
			max-height: 4rem;
			fill: $blue;
		}
	}

	&__title {
		margin-top: 2.5rem;
	}
}