.slider {

	&__track {

		&--products {
			
			.owl-stage, .owl-item, 
			.products__item {
				display: flex;
			}

			.owl-item, .products__item {
    			flex-direction: column;
    			flex: 1;
			}

			.products__item {
				justify-content: space-between;
			}
		}
	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: calc(32rem + 77px);

			@include above (sm) {
				padding-bottom: calc(35rem + 99px);
			}

			@include above (lg) {
				padding-bottom: calc(40rem + 99px);
			}
		}

		&--video {

		}
	}

	&__video {
		position: absolute;
		z-index: -100;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
	}

	&__container {
		position: relative;
		z-index: 10;
	}

	&__logo {
		width: auto; 
		max-height: 240px;
	}

	&__title {

		&--has-logo {
			margin-top: 0;
		}
	}

	&__sub-title {
		margin-top: .5rem;
		margin-bottom: 2rem;
		letter-spacing: .2rem;
	}

	&__text {
		font-weight: 500;

		p {
			line-height: 1.5;
		}

		@include above (sm) {
			font-size: 18px;
		}
	}	
}


.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
	touch-action: manipulation;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-nav {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		top: 35%;
		transform: translateY(-35%);

		@include below (lg) {
			display: none;
		}
	}

	.owl-dots {
		transform: translateY(-2rem);
		display: flex;
		justify-content: center;
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-dot {
		background: $white;
		width: .7rem;
		height: .7rem;
		border-radius: 50%; 

		&.active {
			background: $blue;
		}
	}

	.owl-dot + .owl-dot {
		margin-left: .5rem;
	}

	.owl-prev,
	.owl-next {
		background: $blue;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		color: $white;
		font-size: 18px;
		text-align: center;
		box-shadow: 0px 8px 10px rgba($blue, .25);

		i {
			line-height: 1.9;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}