.tabs {
	margin-bottom: 1.5rem;
	
	&__btns {
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	&__trigger {
		-webkit-appearance: none;
		border: none;
		text-transform: uppercase;
		outline: none;
		letter-spacing: .1rem;
		margin-top: .5rem;
		margin-bottom: .5rem;
		background: transparent;

		&.is-active {
			background: $blue;
		}
	}

	&__item {
		opacity: 0;
		display: none;
		transition: all ease .3s;
		
		&.is-active {
			opacity: 1;
			display: block;
		}
	}
}