.text-image {
	width: 100%;

	@include above (sm) {
		display: flex;
	}

	&--wrapper {
		flex-wrap: wrap;
	}

	&--wrapper, &__container, 
	&__row {

		@include above (sm) {
			display: flex;
		}		
	}

	&__container {
		position: relative;
	}

	&__row {
		flex: 1;
	}

	&__content {
		padding: 3rem 1.5rem;
		text-align: center;
		background: $blue;
		color: $white;

		@include above (sm) {
			box-shadow: 0 0 10px 2px rgba($blue, 0.39); 
			display: flex;
    		justify-content: center;
    		flex-direction: column;
		}

		.checkmark-list { 
			margin: auto;

			li {
				text-align: left;

				&:before {
					color: $white;
				}
			}
		}

		@include above (sm) {
			width: calc(50% - 1rem); 
			margin-bottom: 1rem;
			margin-top: 1rem;
		}

		&.right {
		
		}

		&.left {
			@include above (sm) {
				left: 1rem;		
			}
		}
	}

	&__title {
		margin-top: 0;
	}

	&__image {
		background: no-repeat center center;
		background-size: cover;

		@include above (sm) {
			box-shadow: 0 0 10px 2px rgba($black, 0.1); 
		}

		&.left,
		&.right {
			@include below (sm) {
				height: 25rem;
			}

			@include above (sm) {
				position: absolute;
				top: 0;
				bottom: 0;
				width: calc(50% - 1rem);
				margin-bottom: 1rem;
				margin-top: 1rem;
			}
		}

		&.left {
			left: 0;
		}

		&.right {
			right: 0;
		}
	}
}