.video {

	&__container {
		position: relative;
	}

	&__header {
		margin-top: 0;
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;

		@include above (sm) {
			margin-bottom: 4.5rem;
			margin-top: 3rem;
		}
	}

	&__item {

		@include below (sm) {
			margin-bottom: 1.5rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include above (sm) {
			display: flex;
			flex-direction: column;
		}

		&:hover {

			.video__video {
				transform: scale(1.1);
			}
		}
	}

	&__wrap {
		position: relative;
		overflow: hidden;
		max-height: 30rem;
		min-height: 30rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__video {
		width: 100%;
		background: no-repeat center center;
		background-size: cover;
		outline: none;
		transition: all ease .3s;

		&--yt {
			height: 100%;
			position: absolute;
			z-index: -1;
		}
	}

	&__controls {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&--inner {
			background: $blue;
			color: $white;
			padding: 1.2rem 1.5rem;
			border-radius: 50%;
			font-size: 18px;
			margin: auto;
		}

		&--thumb {
			background: $blue;
			color: $white;
			padding: .6rem 1rem;
			border-radius: 50%;
			font-size: 12px;
		}
	}

	&__content {
		bottom: 0;
		padding: 3rem 1.5rem;
		background: $blue;
		color: $white;
		width: 100%;

		@include above (sm) {
			flex: 1;
		}

		strong {
			display: block;
			margin-bottom: .5rem;
		}

		p {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-top: 0;
	}
}