.btn {
	position: relative;
	display: inline-block;
	padding: .5rem 1.5rem;
	cursor: pointer;
	font-size: 14px;

	&--rounded {
		background: $white;
		border-radius: 2.5rem;
		padding-right: 0;
		color: $color-font-body;
		font-weight: 700;
		font-family: $custom-font-headings;
		text-transform: uppercase;
		letter-spacing: .1rem;

		&:after {
			content: '\f105';
			font-family: 'Font Awesome 5 Free';
			font-weight: 700;
			padding: .5rem .8rem;
			border-radius: 50%;
			background: $blue;
			box-shadow: 0px 0px 15px rgba($blue, .15);
			margin-left: 1.5rem;
			margin-right: .3rem;
			color: $white;
			font-size: 18px;
			top: 1px;
			position: relative;
		}
	}

	&--blue {
		background: $blue;
		color: $white;
		text-transform: uppercase;
		letter-spacing: .1rem;
		font-weight: 500;
		border-radius: 3px;
		box-shadow: 0px 8px 10px rgba($blue, .25);
	}
}