// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
    letter-spacing: .1rem;

    span {
      color: $blue;
    }
  }
}
 

h1, .h1 {
  font-size: 28px;
  font-weight: 800;

  @include above (sm) {
    font-size: 28px;
  }

  @include above (md) {
    font-size: 34px;
  }

  @include above(lg) {
    font-size: 54px;
    
  }
}

h2, .h2 {
  font-size: 20px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}
